@tailwind base;
@tailwind components;
@tailwind utilities;

.index_editor__JoDSg {
  height: 100% !important;
  border-radius: 0px !important;
}
.index_editor__JoDSg::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
}
